@import "./variables.scss";
@import "./components/all.scss";

body * {
  font-family: "Roboto", sans-serif;
}
.app {
  background-color: #262626;
}
.wrapper {
  margin: 0 auto;
  max-width: 40vw;
  height: 100vh;
  background-color: $gray;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
