.wrapper{
  border: 1px solid gray;
  width: 100%;
  max-width: 334px;
}

.inner{
  max-width: 300px;
  width: 100%;
  font-size: 18px;
  padding: 10px 0;
}

.arrow{
  width: 15px;
  height: 15px;
}

.field{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;

  &:hover{
    background-color: #f7f7f7;
  }
}