.list {
  list-style: none;
  padding: 0;
  color: #eee;
}
.item {
  display: flex;
  padding-left: 15px;
  cursor: default;
}
.itemToggle {
  line-height: 23px;
  font-size: 14px;
  padding-right: 8px;
  width: 8px;
}
.itemText::selection {
  background: none;
}
.itemIcon {
  font-size: 12px;
  padding-right: 4px;
}
.target {
  background-color: #282828;
  overflow: visible;
}