.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(38, 38, 38, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  position: absolute;
  width: min(80%, 500px);
  background-color: #FFF;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
