.menu {
  width: 30%;
  padding: 10px;
  background: lightgrey;
}

.tree-view {
  position: relative;
}

.node {
  display: flex;
}

.trash-bin {
  align-self: flex-end;
  margin-left: auto;
  cursor: pointer;
}

.header {
  display: flex;
  margin-bottom: 5px;
}

.add-folder {
  align-self: flex-end;
  cursor: pointer;
}

.edit-folder {
  align-self: flex-end;
  cursor: pointer;
}
